
.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://images4.alphacoders.com/134/1347180.png");
    background-size: cover;
    position: relative;
  
    .top {
      .wrapper {
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .logo {
          height: 40px;
        }
      }
    }
  
    .container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
  
      form {
        width: 300px;
        height: 300px;
        padding: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
  
        input {
          height: 40px;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.421);
          -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(10px);
          color: white;
          padding-left: 10px;
          border: none;
  
          &::placeholder {
            color: lightgray;
          }
        }
  
        button {
          height: 40px;
          border-radius: 5px;
          background-color: red;
          color: white;
          border: none;
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;
        }
  
        span {
          color: lightgray;
          b {
            color: white;
            cursor: pointer;
          }
        }

        .small{
            a{
                text-decoration: none;
                color: white;
                cursor: pointer;
                font-weight: bold;
                
            }
        }
      }
    }
  }
  